@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "tailwindcss";


 @theme{
  /* colours */
  --color-blue-1: #03174D; /*card colour*/
  --color-blue-2: #16184f; /*main background*/
  --color-blue-3: #222a71; /*profile and logo background*/
  --color-blue-4: #6D75B0; /*card outline */
  --color-purple: #99A3FB;

  --color-grey-1: #C5C6D0;
  --color-grey-2: #D3D4DE;
  --color-grey-3: #F1F1F3;
  
  --color-white: #F5F5F5;

  --color-yellow: #FFE7BF;

  --font-Montserrat: "Montserrat", sans-serif; 
}